header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('../img/fond.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .titre {
    font-size: 1.5em;
    color: rgb(197, 197, 197);
  }

  .intro {
    margin-top: 5rem;
  }
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    // padding-top: 12rem;
    // padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }

  .nom, .titre {
    animation-name: slidein;
    animation-duration: 1.5s;
}

@keyframes slidein {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.intro {
  animation-name: slidein2;
  animation-duration: 1.5s;
}

@keyframes slidein2 {
from {
  transform: translateX(500px);
  opacity: 0;
}

to {
  transform: translateX(0px);
  opacity: 1;
}
}

}
